.Login{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginWrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 250px;
    height: 350px;
    padding: 20px;
    border-radius: 15px;
    -webkit-box-shadow: 4px 4px 8px 2px rgba(0, 0, 0, 0.20);
        box-shadow: 4px 4px 8px 2px rgba(0, 0, 0, 0.20);
        gap: 10px;
}
.loginWrapper>span{
    font-size: 14px;
    color: gray;
}
.input{
    padding: 10px;
    align-self: stretch;
    border: none;
}
.login-btn{
    width: 50%;
    padding: 10px;
    align-self: center;
    margin-top: 15px;
    border: none;
    border-radius: 10px;
    background-color: rgb(232, 216, 245);}
    .login-btn:disabled {
        cursor: not-allowed;
    }
    .error{
        font-size: 11px;
        color: red;
        margin-top: 10px;

    }