.newCountry {
    flex: 4;
    margin-left: 20px;
}

.addCountryForm {
    margin-top: 10px;
}

.addCountryItem {
    width: 250px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.addCountryItem>label {
    color: gray;
    font-weight: 600;
    margin-bottom: 10px;
}

.addCountryItem>input {
    padding: 10px;
}

.addCountryItem>select {
    padding: 10px;
}

.addCountryButton {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 7px 10px;
    border: none;
    border-radius: 10px;
    background-color: darkblue;
    color: white;
    font-weight: 600;
    cursor: pointer;
}