.store {
    flex: 4;
    padding: 20px;
}

.storeTitleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.storeAddButton {
    width: 80px;
    border: none;
    padding: 5px;
    background-color: teal;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.storeTop {
    display: flex;
}

.storeTopLeft,
.storeTopRight {
    flex: 1;
}

.storeTopRight {
    padding: 20px;
    margin: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}


.storeInfoTop>img {
    width: 50%;
    border-radius: 10px;
    object-fit: contain;
    margin-right: 20px;
}

.storeInfoTop {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.storeName {
    font-weight: 600;
    margin-top: 12px;
}

.storeInfoBottom {
    margin-top: 10px;
}

.storeInfoItem {
    width: 100%;
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
}

.storeInfoKey {
    font-weight: 500;

}

.storeInfoValue {
    font-weight: 300;
}

.storeBottom {
    padding: 20px;
    margin: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.storeForm {
    display: flex;
    justify-content: space-between;
}

.storeFormLeft {
    display: flex;
    flex-direction: column;
    flex: 2;
    margin-right: 30px;
}

.storeFormLeft>label {
    margin-bottom: 10px;
    color: gray;
}

.storeFormLeft>input {
    margin-bottom: 20px;
    border: none;
    padding: 5px;
    border-bottom: 1px solid gray;
}

.storeFormLeft>select {
    margin-bottom: 10px;
}

.storeUpload>img {
    width: 100%;
    border-radius: 10px;
    object-fit: contain;
    margin-right: 20px;
}

.storeFormRight {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
}

.storeUpload {
    display: flex;
    align-items: center;
}

.storeButton {
    border: none;
    margin-top: 20px;
    padding: 5px;
    border-radius: 5px;
    background-color: darkblue;
    color: white;
    font-weight: 600;
    cursor: pointer;
    align-self: stretch;

}