.newStore {
    flex: 4;
    margin-left: 20px;
}

.addStoreForm {
    margin-top: 10px;
}

.addStoreItem {
    width: 250px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.addStoreItem>label {
    color: gray;
    font-weight: 600;
    margin-bottom: 10px;
}

.addStoreItem>input {
    padding: 10px;
}

.addStoreItem>select {
    padding: 10px;
}

.addStoreButton {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 7px 10px;
    border: none;
    border-radius: 10px;
    background-color: darkblue;
    color: white;
    font-weight: 600;
    cursor: pointer;
}