.newRoom {
    flex: 4;
    margin-left: 20px;
}

.addRoomForm {
    margin-top: 10px;
}

.addRoomItem {
    width: 250px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.addRoomItem>label {
    color: gray;
    font-weight: 600;
    margin-bottom: 10px;
}

.addRoomItem>input {
    padding: 10px;
}

.addRoomItem>select {
    padding: 10px;
}

.addRoomButton {
    margin-top: 10px;
    padding: 7px 10px;
    border: none;
    border-radius: 10px;
    background-color: darkblue;
    color: white;
    font-weight: 600;
    cursor: pointer;
}