.country {
    flex: 4;
    padding: 20px;
}


.countryAddButton {
    width: 80px;
    border: none;
    padding: 5px;
    background-color: teal;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.countryTop {
    display: flex;
}

.countryTopLeft,
.countryTopRight {
    flex: 1;
}

.countryTopRight {
    padding: 20px;
    margin: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.countryInfoTop {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 20px;
}

.countryName {
    font-weight: 600;
    margin-top: 12px;
}
.countryMiddle{
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin: 20px;
}
.middleLeft{
    display: flex;
    flex-direction: column;
    flex: 4;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.middleRight{
    display: flex;
    flex-direction: column;
    flex: 2;
    align-items: center;
    gap: 15px;
    justify-content: center;
}
.countryCover {
    width: 75%;
    object-fit: contain;
}
.countryImg{
    width: 50%;
    object-fit: contain;
}
.countryInfoBottom {
    margin-top: 10px;
}

.countryInfoItem {
    width: 100%;
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
}

.countryInfoKey {
    font-weight: 500;

}

.countryInfoValue {
    font-weight: 300;
}

.countryBottom {
    padding: 20px;
    margin: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.countryForm {
    display: flex;
    justify-content: space-between;
}

.countryFormLeft {
    display: flex;
    flex-direction: column;
    flex: 2;
    margin-right: 30px;
}

.countryFormLeft>label {
    margin-bottom: 10px;
    color: gray;
}

.countryFormLeft>input {
    margin-bottom: 20px;
    border: none;
    padding: 5px;
    border-bottom: 1px solid gray;
}

.countryFormLeft>select {
    margin-bottom: 10px;
}



.countryFormRight {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
}



.countryButton {
    border: none;
    margin-top: 20px;
    padding: 5px;
    border-radius: 5px;
    background-color: darkblue;
    color: white;
    font-weight: 600;
    cursor: pointer;
    align-self: stretch;
}